a{
    text-decoration: none;
    color: black;
}

.bg-color{
    background-color: rgba(108, 113, 113, 0.042);
}

.producto{
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.4s;
}

.producto:hover{
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.552)!important;
    border: solid 3px rgba(0, 0, 0, 0.475);
}

.text-tarjeta{
    font-size: 13px;
}